<ion-view ng-controller="ChartController" view-title="{{ navigationHeader }}">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button-icon icon icon-offset" ng-click="dashboard()">
            <img height="28" src="img/icon/home.svg" />
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="card" style="padding:5px">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick">
                </canvas>
            </div>

            <div class="card" style="padding:5px">
                    <canvas id="line_C" class="chart chart-line" chart-data="data_C" chart-labels="labels_C" chart-options="options_C">
                    </canvas>
                </div>

            <div class="card" style="padding:5px">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
            </div>
                
            <div class="card" style="padding:5px">
                    <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="data[0]" chart-labels="labels" ></canvas>
            </div>

            <div class="card" style="padding:5px">
                <canvas id="radar" class="chart chart-radar"
                chart-data="data" chart-labels="labels">
                </canvas> 
            </div>
            
            <div class="card" style="padding:5px">
                <canvas id="pie" class="chart chart-pie"
                chart-data="data[0]" chart-labels="labels">
                </canvas> 
            </div>
            
            <div class="card" style="padding:5px">
                    <canvas id="polar-area" class="chart chart-polar-area"
                    chart-data="data[0]" chart-labels="labels">
                </canvas> 
            </div>

            <div class="card" style="padding:5px">
                    <canvas id="horizontal-bar" class="chart-horizontal-bar"
                    chart-data="data" chart-labels="labels" >
                  </canvas> 
            </div>

            <div class="card" style="padding:5px">
                    <canvas id="bubble" class="chart-bubble"
                    chart-data="data_B" chart-series="series_B" >
                  </canvas> 
            </div>
        </div>
    </ion-content>
</ion-view>