<ion-view ng-controller="ConfigurationController" view-title="{{ 'configuration_title' | translate }}">
  <ion-nav-buttons side="left">
    <a class="button-icon icon ion-ios-list-outline header-icon" ng-click="connection_list()">
      <!-- <img height="28" src="img/icon/home.svg" /> -->
    </a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button-icon icon ion-log-in header-icon" ng-click="connect()">
      <!-- <img height="28" src="img/icon/home.svg" /> -->
    </a>
  </ion-nav-buttons>
  <div class="tabs-background-dark tabs-color-light tabs-striped tabs-top">
    <div class="tabs tabs-sub-header" ng-controller="ConfigurationController">
      <a class="active tab-item" id="lanLabel" ng-click="load('lan')">
        {{ "configuration_lan" | translate }}
      </a>
      <a class="tab-item" id="wanLabel" ng-click="load('wan')">
        {{ "configuration_wan" | translate }}
      </a>
      <a class="tab-item" id="cloudLabel" ng-click="load('cloud')">
        {{ "configuration_cloud" | translate }}
      </a>
    </div>
  </div>
  <ion-content ng-init="load('lan')">
    <div class="container-configuration content padding">
      <!--<p>
        <strong>{{ "configuration_disclaimerTitle" | translate }}</strong>
        <br />
        {{ "configuration_disclaimerSummary" | translate }}
      </p>-->
    </div>
    <div class="hide" id="cloudContainer">
      <div class="list list-configuration">
        <input id="cloudName" name="cloudName" placeholder="{{ 'configuration_name' | translate }}" type="hidden" value="Cloud" />
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_csid" | translate }}</span>
          <input id="cloudApi" name="cloudApi" placeholder="{{ 'configuration_csid' | translate }}" type="text" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_csp" | translate }}</span>
          <input id="cloudPassword" name="cloudPassword" placeholder="{{ 'configuration_csp' | translate }}" type="password" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_hostCloud" | translate }}</span>
          <input id="cloudHost" name="cloudHost" placeholder="{{ 'configuration_hostCloud' | translate }}" type="url" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_port" | translate }}</span>
          <input id="cloudPort" name="cloudPort" placeholder="{{ 'configuration_port' | translate }}" type="number" />
        </label>
      </div>
      <div class="content padding" ng-controller="ConfigurationController">
        <button class="button button-full button-positive" ng-click="save('cloud')">
          {{ "configuration_save" | translate }}
        </button>
      </div>
    </div>
    <div id="lanContainer">
      <div class="list list-configuration">
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_name" | translate }}</span>
          <input id="lanName" name="lanName" placeholder="{{ 'configuration_name' | translate }}" type="text" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_csp" | translate }}</span>
          <input id="lanPassword" name="lanPassword" placeholder="{{ 'configuration_csp' | translate }}" type="password" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_hostLocal" | translate }}</span>
          <input id="lanHost" name="lanHost" placeholder="{{ 'configuration_hostLocal' | translate }}" type="url" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_port" | translate }}</span>
          <input id="lanPort" name="lanPort" placeholder="{{ 'configuration_port' | translate }}" type="number" />
        </label>
      </div>
      <div class="content padding" ng-controller="ConfigurationController">
        <button class="button button-full button-positive" ng-click="save('lan')">
          {{ "configuration_save" | translate }}
        </button>
      </div>
    </div>
    <div class="hide" id="wanContainer">
      <div class="list list-configuration">
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_name" | translate }}</span>
          <input id="wanName" name="wanName" placeholder="{{ 'configuration_name' | translate }}" type="text" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_csp" | translate }}</span>
          <input id="wanPassword" name="wanPassword" placeholder="{{ 'configuration_csp' | translate }}" type="password" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_hostRemote" | translate }}</span>
          <input id="wanHost" name="wanHost" placeholder="{{ 'configuration_hostRemote' | translate }}" type="url" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ "configuration_port" | translate }}</span>
          <input id="wanPort" name="wanPort" placeholder="{{ 'configuration_port' | translate }}" type="number" />
        </label>
      </div>
      <div class="content padding" ng-controller="ConfigurationController">
        <button class="button button-full button-positive" ng-click="save('wan')">
          {{ "configuration_save" | translate }}
        </button>
      </div>
    </div>
  </ion-content>
  </ion-view>