<ion-view ng-controller="ConnectionListController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-minus-round" ng-click="ToggleDelete()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-plus-round" ng-click="CreateNewCentral()"></button>
  </ion-nav-buttons>
  <ion-content>
    
    <ion-list show-reorder="false" can-swipe="false" show-delete="deleteEnabled">
      <ion-item id='Item_{{$index}}' ng-repeat="connection in ConnectionList" ng-click="ConnectToDevice(connection.name)" class="connection-list">
      
        <ion-delete-button class="ion-minus-circled" ng-click="DeleteDevice(connection.name)"></ion-delete-button>
        <div class="row">
          <!-- <div class="col-90">{{ connection.name  | capitalize }}</div> -->
          <div class="col-90">{{ connection.name }}</div>
          <div class="col-10 edit-btn"><ion-button class="ion-edit" ng-click="goToDeviceConfig(connection.name); $event.stopPropagation();"></ion-button></div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
  </ion-view>