<ion-view ng-controller="DashboardController" view-title="{{ 'dashboard_title' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <div class="tabs-background-dark tabs-color-light tabs-striped tabs-top">
    <div class="tabs tabs-sub-header">
      <a class="active tab-item" id="tabService" ng-click="panelOpen('service'); serviceLoad()">
        {{ "dashboard_services" | translate | uppercase }}
      </a>
      <a class="tab-item-disabled tab-item" id="tabRooms" ng-click="panelOpen('rooms'); roomsLoad()">
        {{ "dashboard_rooms" | translate | uppercase }}
      </a>
      <a class="tab-item-disabled tab-item" id="tabScene" ng-click="panelOpen('scene'); sceneLoad()">
        {{ "dashboard_scenes" | translate | uppercase }}
      </a>
    </div>
  </div>
  <ion-content class="container-service">
    <div id="panelService">
      <!-- <div align="center" class="container-service-padding-no row">
        <div class="col-50">
          <a ng-click="serviceOpen('light')" >
            <div class="card card-icon-left">
              <div class="item item-height item-text-wrap">
                <div class="item-icon-container">
                  <img height="40" src="img/service/light.svg" />
                  <p class="item-icon-font"><br />{{ "dashboard_lights" | translate }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-50">
          <a ng-click="serviceOpen('rollingShutter')" >
            <div class="card card-icon-right">
              <div class="item item-height item-text-wrap">
                <div class="item-icon-container">
                  <img height="40" src="img/service/rolling-shutter.svg" />
                  <p class="item-icon-font"><br />{{ "dashboard_rollingShutters" | translate }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div align="center" class="container-service-padding-no row">
        <div class="col-50">
          <a ng-click="serviceOpen('thermostatus')" >
            <div class="card card-icon-left">
              <div class="item item-height item-text-wrap">
                <div class="item-icon-container">
                  <img height="40" src="img/service/thermostatus.svg" />
                  <p class="item-icon-font"><br />{{ "dashboard_thermostatus" | translate }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-50">
          <a ng-click="serviceOpen('sensor')" >
            <div class="card card-icon-right">
              <div class="item item-height item-text-wrap">
                <div class="item-icon-container">
                  <img height="40" src="img/service/sensor.svg" />
                  <p class="item-icon-font"><br />{{ "dashboard_sensors" | translate }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div align="center" class="container-service-padding-no row">
        <div class="col-50">
          <a ng-click="serviceOpen('consume')" >
            <div class="card card-icon-left">
              <div class="item item-height item-text-wrap">
                <div class="item-icon-container">
                  <img height="40" src="img/service/consume.svg" />
                  <p class="item-icon-font"><br />{{ "dashboard_consumes" | translate }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-50"></div>
      </div> -->
      <div id="services"></div>
    </div>
    <div id="panelRooms">
      <div id="rooms"></div>
    </div>
    <div class="hide" id="panelScene">
      <div id="scenes"></div>
    </div>
  </ion-content>
  </ion-view>