<ion-view ng-controller="InfoController" view-title="{{ navigationHeader }}">
    <ion-nav-buttons side="right">
      <a class="button-icon icon icon-offset" ng-click="dashboard()">
        <img height="28" src="img/icon/home.svg" />
      </a>
    </ion-nav-buttons>
    <ion-content>
      <div class="card">
        <div class="row responsive-sm">
            <div class="col col-40 info image">
                <div style="width:100%; height:100%; display:table">
                    <div style="display:table-cell; vertical-align:middle;">
                        <img src="./img/icon/Info_Logo.png" style="width:50%; margin:auto;" />
                    </div>
                </div>
            </div>
            <div class="col info text">
                <div class="info-title">Seica Shoebox</div>
                <div class="info-version">{{ "info_version" | translate | capitalize }} {{appVersion}} </div>
                <br>
                <div class="info-title">{{ "info_dati_centrale" | translate | capitalize }}</div>
                <div class="info-required-fw">{{ "fw_updateBodyRequired" | translate | capitalize }}</div>
                <div class="info-required-fw">{{requiredFW}}</div>
                <div class="info-current-fw">{{ "fw_updateBodyCurrent" | translate | capitalize }}</div>
                <div class="info-current-fw {{checkFWUpdate()}}">{{currentFW}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col info text">
                <div class="info-text">{{ "info_text" | translate }}</div>
            </div>
        </div>
      </div>
    </ion-content>
    </ion-view>