<ion-view hide-nav-bar="true">
  <ion-content class="vertical-center">
    <div class="row row-center spinner-container" ng-show="isOnline">
      <div class="col col-center">
        <ion-spinner class="spinner-calm" icon="ripple"></ion-spinner>
        <br />
        <p id="status">{{ loadingMessage }} {{ connectionType }}</p>
      </div>
    </div>
  </ion-content>
  </ion-view>