<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{ "menu_title" | translate }}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="configuration()">
          <div class="row">
            <div class="col-10">
              <i class="icon icon-image ion-ios-cog-outline"></i>
            </div>
            <div class="col-90 color-gray">
              &nbsp;{{ "menu_configuration" | translate }}
            </div>
          </div>
        </ion-item>
        <ion-item menu-close ng-click="notification()" ng-if="false">
          <div class="row">
            <div class="col-10">
              <i class="icon icon-image ion-ios-bell-outline"></i>
            </div>
            <div class="col-90 color-gray">
              &nbsp;{{ "menu_notification" | translate }}
            </div>
          </div>
        </ion-item>
        <ion-item menu-close ng-click="refresh()">
          <div class="row">
            <div class="col-10">
              <i class="icon icon-image ion-ios-refresh-outline"></i>
            </div>
            <div class="col-90 color-gray">
              &nbsp;{{ "menu_refresh" | translate }}
            </div>
          </div>
        </ion-item>
        <ion-item menu-close ng-click="info()">
          <div class="row">
            <div class="col-10">
              <i class="icon icon-image ion-ios-information-outline"></i>
            </div>
            <div class="col-90 color-gray">
              &nbsp;{{ "Info" }}
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable" style="text-align: center; background-color: #f5f5f5 !important; border: 0px !important;">
      <ion-item nav-clear menu-close href="#" style="border: 0px !important; left:0;right:0;margin:0; width: 100%;position: fixed;"><img src="img/icon/seica.png" style="height: 20px; margin-top: -20px" /></ion-item>
    </ion-footer-bar>
  </ion-side-menu>
  </ion-side-menus>