<ion-view ng-controller="SceneActiveController" view-title="{{ 'scene_title' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="back()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ navigationSubheader }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <ul class="list">
      <li class="color-gray item item-toggle">
        {{ "scene_active" | translate }}
        <label class="toggle toggle-balanced">
          <input id="active" ng-click="active()" type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="color-gray item item-toggle">
        <div class="row" style="padding: 0px !important">
          <div class="col-10">
            <i class="icon icon-image ion-ios-cog-outline"></i>
          </div>
          <div class="col-90 color-gray">
            {{ "scene_settings" | translate }}
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  </ion-view>