<ion-view ng-controller="SceneAddController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="back()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "scene_addTitle" | translate }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div class="list">
      <a class="color-gray item" ng-click="sceneCreate()">
        {{ "scene_create" | translate }}
      </a>
    </div>
    <div class="list" id="scenesAdd"></div>
  </ion-content>
  </ion-view>