<ion-view ng-controller="SceneAddDetailController" view-title="{{ 'scene_addTitle' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="back()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ navigationSubheader }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div class="list">
      <a class="color-gray item" ng-click="add()">
        <div class="row" style="padding: 0px !important">
          <div class="col-10">
            <i class="icon icon-image ion-ios-plus-empty"></i>
          </div>
          <div class="col-90 color-gray">
            {{ "scene_add" | translate }}
          </div>
        </div>
      </a>
      <a class="color-gray item">
        <div class="row" style="padding: 0px !important">
          <div class="col-10">
            <i class="icon icon-image ion-ios-cog-outline"></i>
          </div>
          <div class="col-90 color-gray">
            {{ "scene_settings" | translate }}
          </div>
        </div>
      </a>
    </div>
  </ion-content>
  </ion-view>