<ion-view ng-controller="SceneCreateController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="back()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "scene_createTitle" | translate }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div id="cloudContainer">
      <div class="list list-configuration">
        <label class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ 'scene_createName' | translate }}</span>
          <input id="sceneName" name="sceneName" placeholder="{{ 'scene_createName' | translate }}" type="text" />
        </label>
        <div class="item item-input item-stacked-label">
          <span class="color-gray input-label">{{ 'scene_createIcon' | translate }}</span>
          <br />
          <br />
          <div align="center" class="row">
            <div class="col-25">
              <img height="30" ng-click="iconChoose ( 'house-in' )" src="img/scene/house-in.svg" />
            </div>
            <div class="col-25">
              <img height="30" ng-click="iconChoose ( 'house-out' )" src="img/scene/house-out.svg" />
            </div>
            <div class="col-25">
              <img height="30" ng-click="iconChoose('day')" src="img/scene/day.svg" />
            </div>
            <div class="col-25">
              <img height="30" ng-click="iconChoose('night')" src="img/scene/night.svg" />
            </div>
          </div>
          <input id="sceneIcon" name="sceneIcon" type="hidden" />
          <br />
        </div>
      </div>
      <div class="content padding">
        <button class="button button-full button-positive" ng-click="save()">
          {{ "configuration_save" | translate }}
        </button>
      </div>
    </div>
  </ion-content>
  </ion-view>