<ion-view ng-controller="ServiceEditEnableTimerController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom" >
      <div class="row">
        <div class="col-20" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-close-round" ng-href="#/app/service/timer_detail_en/{{service}}/{{room}}/{{roomComponent.name}}/{{edited}}/{{type}}"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white" >{{ newTimer ? "add_timer_title" : "edit_timer_title"| translate }}</p>
        </div>
        <div align="right" class="col-20" style="padding-right: 10px" ng-click="SaveChanges()">
          <a class="bar-subheader-icon icon ion-checkmark-round"></a>
        </div>
      </div>
      <!-- <div class="row">
        <div align="center" class="col-20" style="margin:auto">
          <a class="bar-subheader-icon icon ion-close-round" ng-href="#/app/service/timer_detail/{{service}}/{{room}}/{{roomComponent.name}}/{{edited}}"></a>
        </div>
        <div align="center" class="col-60" style="margin:auto">
          <p class="color-white" style="margin:auto">{{ newTimer ? "add_timer_title" : "edit_timer_title"| translate }}</p>
        </div>
        <div align="center" class="col-20" style="margin:auto; color:white;">
          <button class="button button-icon icon ion-checkmark-round edt_timer_save_btn" style="color:white;"  ng-click="SaveChanges()"></button>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col" style="padding:0px">
        <button id="tabCalendar" class="button edit_timer_type btn_tab selected" ng-click="changeTimerMode(0)"> {{'timer_calendar' | translate | capitalize }} </button>
      </div>
      <div class="col" style="padding:0px">
        <button id="tabDelay" class="button edit_timer_type btn_tab" ng-click="changeTimerMode(1)"> {{'timer_delay' | translate | capitalize }} </button>
      </div>
    </div>
    <div id="panelCalendar">
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-15">
          <div class="row">
            <button class="button ion-plus edit_timer_btn up_down_btn up_btn" ng-click="upHour();"></button>
          </div>
          <div class="row">
            <button class="button ion-minus edit_timer_btn up_down_btn down_btn" ng-click="downHour();"></button>
          </div>
        </div>
        <div class="col">
          <div class="edit_timer_number">{{ padNumber(hours,2,'0') }}</div>
        </div>
        <div class="col col-10 col-center">
          <div class="edit_timer_number">:</div>
        </div>
        <div class="col">
          <div class="edit_timer_number">{{ padNumber(minutes,2,'0') }}</div>
        </div>
        <div class="col col-15">
          <div class="row">
            <button class="button ion-plus edit_timer_btn up_down_btn up_btn" ng-click="upMinutes();"></button>
          </div>
          <div class="row">
            <button class="button ion-minus edit_timer_btn up_down_btn down_btn" ng-click="downMinutes();"></button>
          </div>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col" style="text-align:center">
            {{'en_label_output' | translate}}
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-15"></div>
        <div class="col">
          <div class="row">
            <div class="col" style="padding:0px">
              <button class="button edit_timer_type left_btn {{isOn(1)}}" ng-click="changeType(1)"> ON </button>
            </div>
            <div class="col" style="padding:0px">
              <button class="button edit_timer_type right_btn {{isOn(0)}}" ng-click="changeType(0)"> OFF </button>
            </div>
          </div>
        </div>
        <div class="col col-15"></div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col" style="text-align:center">
            {{'en_label_enable' | translate}}
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col">
            {{'enable_disable' | translate}}
          </div>
        <div class="col col-20">
          <label class="toggle toggle-balanced" >
            <input type="checkbox" ng-model="typeEn" ng-model-options="{ getterSetter: true }" ng-change="changeTypeEn(typeEn)" ng-true-value="1" ng-false-value="0"/>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-full {{isEnabled(1)}} week_days"  ng-click="setEnabled(1)">
          <span>{{"week_1" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(2)}} week_days"  ng-click="setEnabled(2)">
          <span>{{"week_2" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(3)}} week_days"  ng-click="setEnabled(3)">
          <span>{{"week_3" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(4)}} week_days"  ng-click="setEnabled(4)">
          <span>{{"week_4" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(5)}} week_days"  ng-click="setEnabled(5)">
          <span>{{"week_5" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(6)}} week_days"  ng-click="setEnabled(6)">
          <span>{{"week_6" | translate | capitalize }}</span></button>
        </div>
        <div class="col">
          <button class="button button-full {{isEnabled(0)}} week_days"  ng-click="setEnabled(0)">
          <span>{{"week_0" | translate | capitalize }}</span></button>
        </div>
      </div>
      <div class="row only-once">
        <div class="col col-80">
            <ion-checkbox type="checkbox" ng-model="onlyOnce" ng-change="changeOnlyOnce()">{{'timer_only_once' | translate | capitalize}}</ion-checkbox>
        </div>
        <div class="col vertical-center therm_list" ng-if="(onlyOnce==1)">
          <i class="icon icon-timer">
            <img style="height:25px;" src="img/icon/repeatOne.png"></>
          </i>
        </div>
      </div>
      <div class="row" ng-hide = "newTimer" >
        <div class="col col-10"></div>
        <div class="col">
          <button class="button button-outline icon-left ion-ios-trash button-assertive" style="width:100%" ng-click="DeleteTimer()">{{"remove_timer" | translate | uppercase}}</button>
        </div>
        <div class="col col-10"></div>
      </div>
    </div>
    <div id="panelDelay" class="hide">
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-15"></div>
        <div class="col col-center">
          <div>{{ 'timer_delay_hour' | translate | capitalize }}</div>
        </div>
        <div class="col col-10"></div>
        <div class="col col-center">
          <div>{{ 'timer_delay_min' | translate | capitalize }}</div>
        </div>
        <div class="col col-15"></div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-15">
          <div class="row">
            <button class="button ion-plus edit_timer_btn up_down_btn up_btn" ng-click="upHourDelay();"></button>
          </div>
          <div class="row">
            <button class="button ion-minus edit_timer_btn up_down_btn down_btn" ng-click="downHourDelay();"></button>
          </div>
        </div>
        <div class="col">
          <div class="edit_timer_number">{{ padNumber(hoursDelay,2,'0') }}</div>
        </div>
        <div class="col col-10 col-center">
          <div class="edit_timer_number">:</div>
        </div>
        <div class="col">
          <div class="edit_timer_number">{{ padNumber(minutesDelay,2,'0') }}</div>
        </div>
        <div class="col col-15">
          <div class="row">
            <button class="button ion-plus edit_timer_btn up_down_btn up_btn" ng-click="upMinutesDelay();"></button>
          </div>
          <div class="row">
            <button class="button ion-minus edit_timer_btn up_down_btn down_btn" ng-click="downMinutesDelay();"></button>
          </div>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col" style="text-align:center">
            {{'en_label_output' | translate}}
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-15"></div>
        <div class="col">
          <div class="row">
            <div class="col" style="padding:0px">
              <button class="button edit_timer_type left_btn {{isOn(1)}}" ng-click="changeType(1)"> ON </button>
            </div>
            <div class="col" style="padding:0px">
              <button class="button edit_timer_type right_btn {{isOn(0)}}" ng-click="changeType(0)"> OFF </button>
            </div>
          </div>
        </div>
        <div class="col col-15"></div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col" style="text-align:center">
            {{'en_label_enable' | translate}}
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col">
            {{'enable_disable' | translate}}
          </div>
        <div class="col col-20">
          <label class="toggle toggle-balanced" >
            <input type="checkbox" ng-model="typeEn" ng-model-options="{ getterSetter: true }" ng-change="changeTypeEn(typeEn)" ng-true-value="1" ng-false-value="0"/>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row" ng-hide = "newTimer" >
        <div class="col col-10"></div>
        <div class="col">
          <button class="button button-outline icon-left ion-ios-trash button-assertive" style="width:100%" ng-click="DeleteTimer()">{{"remove_timer" | translate | uppercase}}</button>
        </div>
        <div class="col col-10"></div>
      </div>
    </div>
    <!-- <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
      <div class="tabs">
        <a id="tabCalendar" class="tab-item active" ng-click="changeTimerMode(0)">
          {{'timer_calendar' | translate | capitalize }}
        </a>
        <a id="tabDelay" class="tab-item" ng-click="changeTimerMode(1)">
          {{'timer_delay' | translate | capitalize }}
        </a>
      </div>
    </div> -->
  </ion-content>
</ion-view>