<ion-view ng-controller="ServiceEditOrderConsumi" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content ng-class="{noscroll: reordering}">
    <div class="bar-subheader-custom">
      <!-- <div class="row">
        <div align="center" class="col-20" style="margin:auto">
          <a class="bar-subheader-icon icon ion-close-round" ng-click="GoBack()"></a>
        </div>
        <div align="center" class="col-60" style="margin:auto">
          <p class="color-white" style="margin:auto">{{ "loads_title" | translate }}</p>
        </div>
        <div align="center" class="col-20" style="margin:auto; color:white;">
          <button class="button button-icon icon ion-checkmark-round edt_timer_save_btn" style="color:white;"  ng-click="SaveAndExit()"></button>
        </div>
      </div> -->
      <div class="row">
        <div class="col-20" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-close-round" ng-click="GoBack()"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white" >{{ "loads_title" | translate }}</p>
        </div>
        <div align="right" class="col-20" style="padding-right: 10px" ng-click="SaveAndExit()">
          <a class="bar-subheader-icon icon ion-checkmark-round"></a>
        </div>
      </div>
    </div>
    <ion-list show-reorder="true" can-swipe="true">
      <ion-item id='Item_{{$index}}' ng-repeat="load in outputList" ng-click="ToggleDelete(load)">
      
        <ion-delete-button class="ion-minus-circled" ng-show="load.deleteEnabled"></ion-delete-button>
        {{load.element.showName == undefined ? translate('loads_generic') + ' ' + load.priority : (load.element.showName == '' ? translate('loads_generic') + ' ' + load.priority : load.element.showName)}}
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(load, $fromIndex, $toIndex)"       
          on-touch="onReorderButtonTouch()"
          on-release="onReorderButtonRelease()">
        </ion-reorder-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>