<ion-view ng-controller="RoomController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" ng-click="dashboard()">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="dashboard()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "room_services" | translate | capitalize }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div class="list" id="rooms">
      <a id='Item_{{$index}}' ng-repeat="service in services" class="color-gray item item-icon-left" ng-href="#/app/service/detail/{{service.name}}/{{room}}/{{fromRoom}}">
        <p> {{ 'service_' + service.name  | translate | capitalize }} </p>
        <i class="icon">
          <img style="font-size:30px;" src="{{service.icon}}"></img>
        </i>
      </a>
    </div>
  </ion-content>
  </ion-view>