<ion-view ng-controller="RoomDetailController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" ng-click="dashboard()">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="dashboard()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ navigationSubheader }}</p>
        </div>
        <div align="right" class="col-20" style="padding-right: 10px">
          <a class="bar-subheader-icon icon ion-plus" ng-click="sceneAdd()"></a>
        </div>
      </div>
    </div>
    <div id="elements">
      <div id='Item_{{$index}}' class="card {{comp.name == component ? 'push_notification' : ''}}" ng-repeat="comp in roomComponents">
        <div ng-switch="comp.service">
          <div ng-switch-when="rollingShutter" style="padding-bottom: 15px" class="shutter">
            <ul class="list list-custom">
              <li class="color-gray room_item">
                <div class="row">
                  <div class="col-20">
                    <i class="icon">
                      <img style="font-size:30px;" src="img/service/rolling-shutter.svg"></img>
                    </i>
                  </div>
                  <div class="col">
                    <!-- <div style="margin: auto;">{{ comp.showName | capitalize }}</div> -->
                    <div style="margin: auto;">{{ comp.showName }}</div>
                  </div>
                  <div class="col col-20">
                    <button class="timer-btn ion-ios-gear-outline" ng-click="editEnableTimerRS(comp);"></button>                      
                  </div>
                  <div class="col-20" align="right">
                    <button class="timer-btn ion-ios-time-outline" ng-click="editTimerRS(comp);"></button>
                  </div>
                </div>
              </li>
            </ul>
            <div class="row" ng-if="comp.rollingShutterUp && comp.rollingShutterDown">
              <div align="center" class="col-50" ng-hide="checkEnabledU(comp)">
                <button color="light" outline icon-only ng-attr-id="{{comp.rollingShutterUp}}" ng-click="updateRS(comp.rollDownAssoc,0);updateRollingShutter(comp.rollUpAssoc)" ng-disabled="!comp.rollingShutterUp" class="shutter_btn">
                  <!-- <ion-icon name="arrow-up" ng-class="{'color-gray icon ion-chevron-up': comp.rollUpValue()==0,'color-gray icon ion-close': comp.rollUpValue()==1}" style="font-size: 28px !important; min-width: 30px;" ></ion-icon> -->
                  <ion-icon name="arrow-up" class="color-gray icon ion-chevron-up" ng-show="comp.rollUpValue()==0" style="font-size: 28px !important; min-width: 30px;" ></ion-icon>
                  <ion-spinner icon="bubbles" ng-show="comp.rollUpValue()==1" ></ion-spinner>
                </button>
              </div>
              <div align="center" class="col-50" ng-show="checkEnabledU(comp)">
                <button color="dark" outline icon-only ng-attr-id="{{comp.rollingShutterUp}}" ng-disabled="true" class="shutter_btn">
                  <ion-icon name="arrow-up" class="color-light icon ion-chevron-up" ng-show="comp.rollUpValue()==0" style="font-size: 28px !important; min-width: 30px;" ></ion-icon>
                  <ion-spinner icon="bubbles" ng-show="comp.rollUpValue()==1" ></ion-spinner>
                </button>
              </div>
              <div align="center" class="col-50" ng-hide="checkEnabledD(comp)">
                <button color="light" icon-only ng-attr-id="{{comp.rollingShutterDown}}" ng-click="updateRS(comp.rollUpAssoc,0);updateRollingShutter(comp.rollDownAssoc)" ng-disabled="!comp.rollingShutterDown" class="shutter_btn">
                  <ion-icon name="arrow-down" class="color-gray icon ion-chevron-down" style="font-size: 28px !important; min-width: 30px;" ng-show="comp.rollDownValue()==0"></ion-icon>
                  <ion-spinner icon="bubbles" ng-show="comp.rollDownValue()==1"></ion-spinner>
                </button>
              </div>
              <div align="center" class="col-50" ng-show="checkEnabledD(comp)">
                <button color="light" icon-only ng-attr-id="{{comp.rollingShutterDown}}" ng-disabled="true" class="shutter_btn">
                  <ion-icon name="arrow-down" class="color-gray icon ion-chevron-down" style="font-size: 28px !important; min-width: 30px;" ng-show="comp.rollDownValue()==0"></ion-icon>
                  <ion-spinner icon="bubbles" ng-show="comp.rollDownValue()==1"></ion-spinner>
                </button>
              </div>
            </div>
            <!-- AC_20180116 -->
            <div class="row" ng-if="comp.rollingShutterUp && comp.rollingShutterDown == null">
              <div align="center" class="col" ng-hide="checkEnabledU(comp)">
                <button color="light" outline icon-only ng-attr-id="{{comp.rollingShutterUp}}" ng-click="updateRollingShutter(comp.rollUpAssoc)" ng-disabled="!comp.rollingShutterUp" class="shutter_btn">
                  <i class="icon" ng-show="comp.rollUpValue()==0">
                    <img style="margin-top:5px; height:40px;" src="img/icon/key.svg"></img>
                  </i>
                  <ion-spinner icon="bubbles" ng-show="comp.rollUpValue()==1" ></ion-spinner>
                </button>
              </div>
              <div align="center" class="col" ng-show="checkEnabledU(comp)">
                <button color="light" outline icon-only ng-attr-id="{{comp.rollingShutterUp}}" ng-disabled="true" class="shutter_btn">
                  <i class="icon" ng-show="comp.rollUpValue()==0">
                    <img style="margin-top:5px; height:40px;" src="img/icon/key.svg"></img>
                  </i>
                  <ion-spinner icon="bubbles" ng-show="comp.rollUpValue()==1" ></ion-spinner>
                </button>
              </div>
            </div>
            <div class="row" ng-if="comp.rollingShutterUp == null && comp.rollingShutterDown">
              <div align="center" class="col" ng-hide="checkEnabledD(comp)">
                <button color="light" outline icon-only ng-attr-id="{{comp.rollingShutterDown}}" ng-click="updateRollingShutter(comp.rollDownAssoc)" ng-disabled="!comp.rollingShutterDown" class="shutter_btn">
                  <!-- <ion-icon name="arrow-up" ng-class="{'color-gray icon ion-chevron-up': comp.rollUpValue()==0,'color-gray icon ion-close': comp.rollUpValue()==1}" style="font-size: 28px !important; min-width: 30px;" ></ion-icon> -->
                  <i class="icon" ng-show="comp.rollDownValue()==0">
                    <img style="margin-top:5px; height:40px;" src="img/icon/key.svg"></img>
                  </i>
                  <ion-spinner icon="bubbles" ng-show="comp.rollDownValue()==1" ></ion-spinner>
                </button>
              </div>
              <div align="center" class="col" ng-show="checkEnabledD(comp)">
                <button color="light" outline icon-only ng-attr-id="{{comp.rollingShutterDown}}" ng-disabled="true" class="shutter_btn">
                  <i class="icon" ng-show="comp.rollDownValue()==0">
                    <img style="margin-top:5px; height:40px;" src="img/icon/key.svg"></img>
                  </i>
                  <ion-spinner icon="bubbles" ng-show="comp.rollDownValue()==1" ></ion-spinner>
                </button>
              </div>
            </div>
          </div>
          <div ng-switch-when="thermostatus" style="padding-bottom: 0px" ng-show="showTimer()">
            <ul class="list list-custom">
              <li class="color-gray">
                <div class="row">
                  <div class="col col-20"> 
                    <i class="icon">
                      <img style="font-size:30px;" src="img/service/thermostatus.svg"></img>
                    </i>
                  </div>
                  <!-- <div class="col therm_title">{{ comp.showName | capitalize }}</div> -->
                  <div class="col therm_title">{{ comp.showName }}</div>
                  <div class="col col-20" ng-hide="HideEnableSwitchTherm(comp)">
                    <button class="timer-btn ion-ios-gear-outline" ng-click="editEnableTimer(comp,comp.useMode);"></button>                      
                  </div>
                  <div class="col col-20" ng-hide="HideEnableSwitchTherm(comp)" align="right">
                    <div ng-switch="comp.thermType">
                      <div ng-switch-when="therm">
                        <div ng-switch="comp.useMode">
                          <div ng-switch-when="therm_auto">                     
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.thermAuto.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.thermAuto.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                          <div ng-switch-when="therm_manual">
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.thermManu.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.thermManu.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                          <div ng-switch-when="therm_int">
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.thermInte.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.thermInte.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div ng-switch-when="cond">
                        <div ng-switch="comp.useMode">
                          <div ng-switch-when="cond_auto">
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.condAuto.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.condAuto.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                          <div ng-switch-when="cond_manual">
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.condManu.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.condManu.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                          <div ng-switch-when="cond_int">
                            <label class="toggle toggle-balanced" >
                              <input type="checkbox" ng-model="comp.condInte.enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnableTherm(comp, comp.condInte.enabled)" ng-true-value="1" ng-false-value="0"/>
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="row">
                  <div class="col col-20 therm_title therm_title_color" ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'">
                    <div class="int-inner-text">{{ getValueTherm(comp); }}</div> 
                  </div>
                  <div class="col col-5 therm_title therm_title_color"  ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'">
                    <div class="int-inner-text">|</div> 
                  </div>
                  <div class="col col-20 therm_title therm_title_color" ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'">
                    <div class="int-inner-text">{{ getValueExtTherm(comp); }}</div> 
                  </div>
                  <div class="col col-15 therm_title therm_title_color" ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'">
                    <div class="int-inner-text">EXT</div> 
                  </div>
                  <div class="col col-60 therm_title therm_title_color" ng-hide="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" style="text-align: center" >
                    <div >{{ getValueTherm(comp); }}</div> 
                  </div>
                  <div class="col col-10 therm_title therm_title_color">
                    <button outline id="{{comp.name + '_' + comp.number + '_type'}}" ng-click="changeTypeTherm(comp);" class="therm_switch icon {{getOnOffValueTherm(comp)}} therm_icon" />
                  </div>
                  <div class="col col-30 therm_title therm_title_color">
                    <button outline id="{{comp.name + '_' + comp.number + '_mode'}}" ng-click="changeModeTherm(comp);" class="therm_switch therm_title_color" >
                      <span>{{comp.useMode | translate | uppercase }}</span>
                    </button>
                  </div>
                </div>

                <!-- <table width="100%" class="therm_header">
                  <tr>
                    <td class="therm_title_color therm_title" colspan="6">{{ comp.name | uppercase }}</td>
                  <tr>
                    <td width='20%' ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" class="therm_title_color">{{ getValue(comp); }}</td>
                    <td width='5%'  ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" class="therm_title_color">|</td>
                    <td width='20%' ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" class="therm_title_color">{{ getValueExt(comp); }}</td>
                    <td width='15%' ng-show="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" class="therm_title_color">EXT</td>
                    <td width='60%' ng-hide="comp.useMode == 'therm_int' || comp.useMode == 'cond_int'" class="therm_title_color" style="text-align: center" colspan="4">{{ getValue(comp); }}</td>
                    <td width='15%' class="therm_title_color" >
                      <button outline id="{{comp.name + '_' + comp.number + '_type'}}" ng-click="changeType(comp);" class="therm_switch icon {{getOnOffValue(comp)}} therm_icon" />
                      
                    </td>
                    <td width='25%'>
                      <button outline id="{{comp.name + '_' + comp.number + '_mode'}}" ng-click="changeMode(comp);" class="therm_switch therm_title_color" >
                        <span>{{comp.useMode | translate | uppercase }}</span>
                      </button>
                    </td>
                  </tr>
                </table> -->
              </li>
            </ul>
            <div ng-switch="comp.thermType">
              <div ng-switch-when="therm">
                <div ng-switch="comp.useMode">
                  <div ng-switch-when="therm_auto">
                    <div ng-hide="comp.thermAuto.number != undefined" class="therm_not_configured" >
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.thermAuto.number != undefined" >
                      <div class="row">
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(1)}} week_days" ng-click="comp.setSelectedDay(1)"><span>{{"week_1" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(2)}} week_days" ng-click="comp.setSelectedDay(2)"><span>{{"week_2" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(3)}} week_days" ng-click="comp.setSelectedDay(3)"><span>{{"week_3" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(4)}} week_days" ng-click="comp.setSelectedDay(4)"><span>{{"week_4" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(5)}} week_days" ng-click="comp.setSelectedDay(5)"><span>{{"week_5" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(6)}} week_days we" ng-click="comp.setSelectedDay(6)"><span>{{"week_6" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(0)}} week_days we" ng-click="comp.setSelectedDay(0)"><span>{{"week_0" | translate | capitalize }}</span></button>
                        </div>
                      </div>
                      <ion-scroll direction="y" class="scrollList">
                        <a ng-repeat="timer in FilterTimers(comp.thermAuto.timer) | orderBy : 'minutesFromMidnight'">
                          <div ng-show="timer.showTimer(comp.selectedDay)" class="row item">
                              <div class="col col-50 vertical-center therm_list">{{timer.formatTime()}}</div>
                              <div class="col col-40 vertical-center therm_list">{{timer.soglia + ' ' + getMUTherm(comp)}} </div>
                              <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
                                <i class="icon icon-timer">
                                  <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
                                </i>
                              </div>
                          </div>
                        </a>
                      </ion-scroll>
                      <div class="row">
                        <div class="col">
                          <a class="button button-full ion-edit button-clear color-gray clear_ok_btn therm_icon"
                              ng-href="#/app/service/timer_therm_detail/{{comp.service}}/{{room}}/{{comp.name}}/{{comp.useMode}}/{{'0'}}"></a>
                        </div>
                        <!--<div class="col">
                          <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ></button>
                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="therm_manual">
                    <div ng-hide="comp.thermManu.number != undefined" class="therm_not_configured">
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.thermManu.number != undefined" >
                      <table width="100%" class="therm_manu_maintable">
                        <tr>
                          <!-- Configurazione temperatura -->
                          <!-- td width="50%"> -->
                          <td colspan = "2"  align="center">
                            <!-- <table width="100%"> -->
                            <table width="60%">
                              <tr>
                                <td rowspan="2" class="therm_manual_conf_temperature">{{ comp.thermManu.sogliaTemp.toFixed(1) + ' ' + getMUTherm(comp) }}</td>
                                <td rowspan="2" width="10%" class="therm_manual_conf_temperature"></td>
                                <!-- <td width="25%" > -->
                                <td width="25%" >
                                  <button class="button ion-plus therm_bg_color up_down_btn" ng-click="comp.upSoglia();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <button class="button ion-minus therm_bg_color2 up_down_btn" ng-click="comp.downSoglia();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="3">
                                  <div class="row">
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type left_btn {{comp.currentMultiplier(0.1)}}" ng-click="comp.changeMultiplier(0.1)">X 0.1</button>
                                    </div>  
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type middle_btn {{comp.currentMultiplier(1)}}" ng-click="comp.changeMultiplier(1)">X 1</button>
                                    </div>
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type right_btn {{comp.currentMultiplier(10)}}" ng-click="comp.changeMultiplier(10)">X 10</button>
                                    </div>   
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <!-- Configurazione tempo -->
                          <!-- <td width="50%">
                            <table width="100%">
                              <tr>
                                <td rowspan="2" class="therm_manual_conf_time">{{ comp.thermManu.intervalTemp }}</td>
                                <td rowspan="2" width="10%" class="therm_manual_conf_time">h</td>
                                <td width="25%" >
                                  <button class="button ion-plus therm_bg_color up_down_btn" ng-click="comp.upInterval();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <button class="button ion-minus therm_bg_color2 up_down_btn" ng-click="comp.downInterval();"></button>
                                </td>
                              </tr>
                            </table>
                          </td> -->
                        </tr>
                        <tr>
                          <td>
                            <button class="button button-full ion-close button-clear button-assertive clear_ok_btn" ng-click="comp.resetSoglia();"></button>
                          </td>
                          <td>
                            <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ng-click="SaveManualConfigTherm(comp)"></button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan=2>
                            <button class="button button-outline icon-left ion-ios-trash button-assertive" style="width:100%" ng-click="DeleteManualConfigTherm(comp)">{{"remove_manual" | translate | uppercase}}</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div ng-switch-when="therm_int">
                    <div ng-hide="comp.thermInte.number != undefined" class="therm_not_configured">
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.thermInte.number != undefined" >
                      <div class="row">
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(1)}} week_days" ng-click="comp.setSelectedDay(1)"><span>{{"week_1" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(2)}} week_days" ng-click="comp.setSelectedDay(2)"><span>{{"week_2" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(3)}} week_days" ng-click="comp.setSelectedDay(3)"><span>{{"week_3" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(4)}} week_days" ng-click="comp.setSelectedDay(4)"><span>{{"week_4" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(5)}} week_days" ng-click="comp.setSelectedDay(5)"><span>{{"week_5" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(6)}} week_days we" ng-click="comp.setSelectedDay(6)"><span>{{"week_6" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(0)}} week_days we" ng-click="comp.setSelectedDay(0)"><span>{{"week_0" | translate | capitalize }}</span></button>
                        </div>
                      </div>
                      <ion-scroll direction="y" class="scrollList">
                        <a ng-repeat="timer in FilterTimers(comp.thermInte.timer) | orderBy : 'minutesFromMidnight'">
                          <div ng-show="timer.showTimer(comp.selectedDay)" class="row item">
                              <div class="col col-50 vertical-center therm_list">{{timer.formatTime()}}</div>
                              <div class="col col-40 vertical-center therm_list">{{timer.soglia + ' ' + getMUTherm(comp)}} </div>
                              <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
                                <i class="icon icon-timer">
                                  <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
                                </i>
                              </div>
                          </div>
                        </a>
                      </ion-scroll>
                      <div class="row">
                        <div class="col">
                          <a class="button button-full ion-edit button-clear color-gray clear_ok_btn therm_icon"
                              ng-href="#/app/service/timer_therm_detail/{{comp.service}}/{{room}}/{{comp.name}}/{{comp.useMode}}/{{'0'}}"></a>
                        </div>
                        <!--<div class="col">
                          <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ></button>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-switch-when="cond">
                <div ng-switch="comp.useMode">
                  <div ng-switch-when="cond_auto">
                    <div ng-hide="comp.condAuto.number != undefined" class="therm_not_configured" >
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.condAuto.number != undefined" >
                      <div class="row">
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(1)}} week_days" ng-click="comp.setSelectedDay(1)"><span>{{"week_1" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(2)}} week_days" ng-click="comp.setSelectedDay(2)"><span>{{"week_2" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(3)}} week_days" ng-click="comp.setSelectedDay(3)"><span>{{"week_3" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(4)}} week_days" ng-click="comp.setSelectedDay(4)"><span>{{"week_4" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(5)}} week_days" ng-click="comp.setSelectedDay(5)"><span>{{"week_5" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(6)}} week_days we" ng-click="comp.setSelectedDay(6)"><span>{{"week_6" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(0)}} week_days we" ng-click="comp.setSelectedDay(0)"><span>{{"week_0" | translate | capitalize }}</span></button>
                        </div>
                      </div>
                      <ion-scroll direction="y" class="scrollList">
                        <a ng-repeat="timer in FilterTimers(comp.condAuto.timer) | orderBy : 'minutesFromMidnight'">
                          <div ng-show="timer.showTimer(comp.selectedDay)" class="row item">
                              <div class="col col-50 vertical-center therm_list">{{timer.formatTime()}}</div>
                              <div class="col col-40 vertical-center therm_list">{{timer.soglia + ' ' + getMUTherm(comp)}} </div>
                              <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
                                <i class="icon icon-timer">
                                  <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
                                </i>
                              </div>
                          </div>
                        </a>
                      </ion-scroll>
                      <div class="row">
                        <div class="col">
                          <a class="button button-full ion-edit button-clear color-gray clear_ok_btn therm_icon"
                              ng-href="#/app/service/timer_therm_detail/{{comp.service}}/{{room}}/{{comp.name}}/{{comp.useMode}}/{{'0'}}"></a>
                        </div>
                        <!--<div class="col">
                          <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ></button>
                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="cond_manual">
                    <div ng-hide="comp.condManu.number != undefined" class="therm_not_configured">
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.condManu.number != undefined" >
                      <table width="100%" class="therm_manu_maintable">
                        <tr>
                          <!-- Configurazione temperatura -->
                          <!-- <td width="50%"> -->
                          <td colspan = "2" align="center">
                            <!-- <table width="50%"> -->
                            <table width="60%">
                              <tr>
                                <td rowspan="2" class="therm_manual_conf_temperature">{{ comp.condManu.sogliaTemp.toFixed(1) + ' ' + getMUTherm(comp) }}</td>
                                <td rowspan="2" width="10%" class="therm_manual_conf_temperature"></td>
                                <td width="25%" >
                                  <button class="button ion-plus therm_bg_color up_down_btn" ng-click="comp.upSogliaC();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <button class="button ion-minus therm_bg_color2 up_down_btn" ng-click="comp.downSogliaC();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="3">
                                  <div class="row">
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type left_btn {{comp.currentMultiplier(0.1)}}" ng-click="comp.changeMultiplier(0.1)">X 0.1</button>
                                    </div>  
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type middle_btn {{comp.currentMultiplier(1)}}" ng-click="comp.changeMultiplier(1)">X 1</button>
                                    </div>
                                    <div class="col" style="padding:0px">
                                      <button class="button edit_timer_type right_btn {{comp.currentMultiplier(10)}}" ng-click="comp.changeMultiplier(10)">X 10</button>
                                    </div>   
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <!-- Configurazione tempo -->
                          <!-- <td width="50%">
                            <table width="100%">
                              <tr>
                                <td rowspan="2" class="therm_manual_conf_time">{{ comp.condManu.intervalTemp }}</td>
                                <td rowspan="2" width="10%" class="therm_manual_conf_time">h</td>
                                <td width="25%" >
                                  <button class="button ion-plus therm_bg_color up_down_btn" ng-click="comp.upIntervalC();"></button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <button class="button ion-minus therm_bg_color2 up_down_btn" ng-click="comp.downIntervalC();"></button>
                                </td>
                              </tr>
                            </table>
                          </td> -->
                        </tr>
                        <tr>
                          <td>
                            <button class="button button-full ion-close button-clear button-assertive clear_ok_btn" ng-click="comp.resetSogliaC();"></button>
                          </td>
                          <td>
                            <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ng-click="SaveManualConfigTherm(comp)"></button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan=2>
                            <button class="button button-outline icon-left ion-ios-trash button-assertive" style="width:100%" ng-click="DeleteManualConfigTherm(comp)">{{"remove_manual" | translate | uppercase}}</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div ng-switch-when="cond_int">
                    <div ng-hide="comp.condInte.number != undefined" class="therm_not_configured">
                      <div class="row" ng-show="showAddBtnTherm(comp)">
                        <div class="col-80 clone-lbl"><div>{{ "not_configured" | translate | uppercase }}</div></div>
                        <div class="col-20">
                          <button class="clone-btn ion-ios-copy" ng-click="cloneConfigTherm(comp)" />
                        </div>
                      </div>
                      <div ng-hide="showAddBtnTherm(comp)">{{ "not_configured" | translate | uppercase }} </div>
                    </div>
                    <div ng-show="comp.condInte.number != undefined" >
                      <div class="row">
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(1)}} week_days" ng-click="comp.setSelectedDay(1)"><span>{{"week_1" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(2)}} week_days" ng-click="comp.setSelectedDay(2)"><span>{{"week_2" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(3)}} week_days" ng-click="comp.setSelectedDay(3)"><span>{{"week_3" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(4)}} week_days" ng-click="comp.setSelectedDay(4)"><span>{{"week_4" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(5)}} week_days" ng-click="comp.setSelectedDay(5)"><span>{{"week_5" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(6)}} week_days we" ng-click="comp.setSelectedDay(6)"><span>{{"week_6" | translate | capitalize }}</span></button>
                        </div>
                        <div class="col">
                          <button class="button button-full {{comp.isSelected(0)}} week_days we" ng-click="comp.setSelectedDay(0)"><span>{{"week_0" | translate | capitalize }}</span></button>
                        </div>
                      </div>
                      <ion-scroll direction="y" class="scrollList">
                        <a ng-repeat="timer in FilterTimers(comp.condInte.timer) | orderBy : 'minutesFromMidnight'">
                          <div ng-show="timer.showTimer(comp.selectedDay)" class="row item">
                              <div class="col col-50 vertical-center therm_list">{{timer.formatTime()}}</div>
                              <div class="col col-40 vertical-center therm_list">{{timer.soglia + ' ' + getMUTherm(comp)}} </div>
                              <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
                                <i class="icon icon-timer">
                                  <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
                                </i>
                              </div>
                          </div>
                        </a>
                      </ion-scroll>
                      <div class="row">
                        <div class="col">
                          <a class="button button-full ion-edit button-clear color-gray clear_ok_btn therm_icon"
                              ng-href="#/app/service/timer_therm_detail/{{comp.service}}/{{room}}/{{comp.name}}/{{comp.useMode}}/{{'0'}}"></a>
                        </div>
                        <!--<div class="col">
                          <button class="button button-full ion-checkmark button-clear button-balanced clear_ok_btn" ></button>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-switch-when="consume">
            <ul class="list list-custom">
              <li class="color-gray item">
              <table width="100%" class="therm_header">
                  <tr>
                    <td width='20%'>
                      <i class="icon">
                        <img style="font-size:30px;" src="img/service/consume.svg"></img>
                      </i>
                    </td>

                    <!-- <td >{{ comp.showName | capitalize }}</td> -->
                    <td >{{ comp.showName }}</td>
                    <td width='20%'>
                        <button class="timer-btn ion-ios-gear-outline" ng-click="editEnableTimer(comp,'prior');"></button>                      
                    </td>
                    <td width='20%' ng-hide="hideSensorCon(comp)">
                      <button outline id="{{comp.name + '_' + comp.number + '_mode'}}" ng-click="changeModeCon(comp);" class="therm_switch therm_title_color" >
                        <span>{{comp.enabled == 0 ? "manual":"auto" | translate | uppercase }}</span>
                      </button>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
            <div class="row condition {{disableSwitchCon(comp)?'':'disabled'}}" ng-hide="hideSensorCon(comp)">
              <div class="col col-33"><span class="color-gray"> {{"serviceDetail_condition" | translate | capitalize}}</span></div>
              <div class="col consume_title_color vertical-center"> {{getValueCon(comp);}}</div>
              <div class="col col-10 color-gray vertical-center"> {{getCondizioneCon(comp);}}</div>
              <div class="col color-gray vertical-center"> {{getSogliaCon(comp);}}</div>
              <div class="col vertical-center" 
                   ng-class="comp.assocOutputType == 'off' ? 'color-red':(comp.assocOutputType == 'on' ? 'color-green' : '' )">
                {{comp.assocOutputType | uppercase }}
              </div>
            </div>
            <div class="row">
              <div class="col color-gray" style="padding: 10px">
                <span class="color-gray"> {{ "serviceDetail_loads" | translate | capitalize }}</span>
              </div>
              <div class="col col-20">
                <label class="toggle toggle-balanced" >
                  <input type="checkbox" ng-model="comp.generalSwitchValue" ng-model-options="{ getterSetter: true }"  ng-disabled="disableSwitchCon(comp)" ng-change="updateAllCon(comp, comp.generalSwitchValue)"/>
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </div>
            </div>
            <ion-scroll direction="y" class="scrollList">
              <div ng-repeat="load in comp.outputList | orderBy:'priority'">
                <div class="row item">
                  <div class="col col-10 color-gray">{{load.priority + 1}} </div>
                  <div class="col color-gray">
                    {{load.element.showName == undefined ? translate('loads_generic') + ' ' + load.priority : (load.element.showName == "" ? translate('loads_generic') + ' ' + load.priority : load.element.showName)}}
                  </div>
                  <!--<div class="col col-20"
                       ng-class="load.element.value == 0 ? 'color-red': 'color-green'">
                    {{(load.element.value == 0 ? "off" : "on" ) | uppercase }}
                  </div>-->
                  <div class="col col-20">
                    <label class="toggle toggle-balanced" >
                      <input type="checkbox" ng-model="load.element.value" ng-model-options="{ getterSetter: true }" ng-true-value="1" ng-false-value="0" ng-disabled="disableSwitchCon(comp)" ng-change="updateCon(comp, load.element.id, load.element.value)"/>
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </div>

                </div>
              </div>
            </ion-scroll>
            <div class="row" ng-show="showEditCon(comp)">
              <div class="col">
                <a class="button button-full ion-edit button-clear color-gray clear_ok_btn therm_icon"
                    ng-href="#/app/service/edit_order_consumi/{{comp.service}}/{{room}}/{{comp.name}}"></a>
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <ul class="list list-custom">
              <li class="color-gray room_item">
                <div class="row">
                  <div class="col-20">
                    <i class="icon">
                      <img style="font-size:30px;" src="img/service/light.svg"></img>
                    </i>
                  </div>
                  <div class="col">
                    <!-- <div style="margin: auto;">{{ comp.showName | capitalize }}</div> -->
                    <div style="margin: auto;">{{ comp.showName }}</div>
                  </div>
                  <div class="col col-20">
                    <button class="timer-btn ion-ios-gear-outline" ng-click="editEnableTimer(comp,'light');"></button>                      
                  </div>
                  <div class="col-20" align="right">
                    <!-- <div ng-if="comp.timer" class="toggle toggle-balanced">
                      <a ng-href="#/app/service/timer/{{comp.service}}/{{room}}/{{comp.name}}">
                        <i class="icon icon-timer ion-ios-time-outline"></i>
                      </a>
                    </div> -->
                    <button ng-if="comp.timer" class="timer-btn ion-ios-time-outline" ng-click="editTimerLight(comp);"></button>
                  </div>
                </div>
              </li>
            </ul>
            <table width='100%'>
              <tr>
                <td>
                  <div ng-if="comp.dimmer" class="item range">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input ng-attr-id="{{comp.dimmerAssoc}}" min="0" max="255" type="range" ng-model="element[comp.dimmerAssoc].value" ng-change="updateLight(comp.dimmerAssoc,element[comp.dimmerAssoc].value)" ng-model-options="{ debounce: 200 }">
                    <i class="icon ion-ios-sunny"></i>
                  </div>
                </td>
                <td width='10%'>
                  <div ng-switch="comp.assocOutputType">
                    <div ng-switch-when="off" align="right" class="item item-sub">
                      <!-- <button color="light" outline icon-only ng-attr-id="{{comp.toggleAssoc}}" ng-click="updateLight(comp.toggleAssoc,0)" ng-disabled="!comp.toggleAssoc" style=" border-radius: 50%; background: white; border: #e6e6e6 solid 1px;">
                        <ion-icon name="switch-off" class="color-gray icon ion-ios-sunny-outline" style="font-size: 28px !important; padding: 0 5px;" ></ion-icon>
                      </button> -->
                      <button color="light" ng-attr-id="{{comp.toggleAssoc}}" ng-click="updateLight(comp.toggleAssoc,0)" ng-disabled="!comp.toggleAssoc && checkEnabled(comp)" class="light-on-off">
                        <span class="color-red">{{ "off" | uppercase }}</span>
                      </button>
                    </div>

                    <div ng-switch-when="on" align="right" class="item item-sub">
                      <!-- <button color="light" outline icon-only ng-attr-id="{{comp.toggleAssoc}}" ng-click="updateL(comp.toggleAssoc,1)" ng-disabled="!comp.toggleAssoc" style="border-radius: 50%; background: white; border: #e6e6e6 solid 1px;">
                        <ion-icon name="switch-on" class="color-gray icon ion-ios-sunny" style="font-size: 28px !important; padding: 0 5px;" ></ion-icon>
                      </button> -->
                      <button color="light" ng-attr-id="{{comp.toggleAssoc}}" ng-click="updateLight(comp.toggleAssoc,1)" ng-disabled="!comp.toggleAssoc && checkEnabled(comp)" class="light-on-off">
                        <span class="color-green">{{ "on" | uppercase }}</span>
                      </button>
                    </div>

                    <div ng-switch-default>
                      <div ng-if="comp.toggle" align="right" class="item item-sub">
                        <label class="toggle toggle-balanced">
                        <input ng-attr-id="{{comp.toggleAssoc}}" type="checkbox" ng-model="comp.checkValue" ng-model-options="{ getterSetter: true }" ng-true-value="1" ng-false-value="0" ng-change="updateLight(comp.toggleAssoc,comp.checkValue())" ng-disabled="checkEnabled(comp)">
                        <div class="track">
                          <div class="handle"></div>
                        </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  </ion-view>