<ion-view ng-controller="RsAssociationList" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" ng-click="dashboard()">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="GoBack()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "rs_associations" | translate }}</p>
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div class="list" id="rooms" ng-if="roomComponent.rollingShutterUp && roomComponent.rollingShutterDown">
      <a class="color-gray item" ng-click="editEnableTimer('rsUp')">
        <div class="row">
            <div class="col" style="text.align:0px; text-align: center;"><i class="icon icon-timer ion-chevron-up"></i></div>
        </div>
      </a>
      <a class="color-gray item" ng-click="editEnableTimer('rsDown')">
        <div class="row">
            <div class="col" style="text.align:0px; text-align: center;"><i class="icon icon-timer ion-chevron-down"></i></div>
        </div>
      </a>
    </div>
    <div class="list" id="rooms" ng-if="roomComponent.rollingShutterUp && roomComponent.rollingShutterDown == null">
      <a class="color-gray item" ng-click="editEnableTimer('rsUp')">
        <div class="row">
          <div class="col" style="text.align:0px; text-align: center;">
            <i class="icon icon-timer">
              <img style="margin-top:5px; height:35px;" src="img/icon/key.svg"></img>
            </i>
          </div>
        </div>
      </a>
    </div>
    <div class="list" id="rooms" ng-if="roomComponent.rollingShutterUp == null && roomComponent.rollingShutterDown">
      <a class="color-gray item" ng-click="editEnableTimer('rsDown')">
        <div class="row">
          <div class="col" style="text.align:0px; text-align: center;">
            <i class="icon icon-timer">
              <img style="margin-top:5px; height:35px;" src="img/icon/key.svg"></img>
            </i>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
  </ion-view>