<ion-view ng-controller="ServiceEnableTimerController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="GoBack()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "timer_title" | translate }}</p>
        </div>
        <div class="col col-20" style="text-align: center;" ng-show="isRS() && getRSType() == 0"><i class="icon icon-timer ion-chevron-up"></i></div>
        <div class="col col-20" style="text-align: center;" ng-show="isRS() && getRSType() == 1"><i class="icon icon-timer ion-chevron-down"></i></div>
        <div class="col col-20" style="text-align: center;" ng-show="isRS() && getRSType() == 2">
          <i class="icon icon-timer">
            <img height="28" src="img/icon/key.svg"></img>
          </i>
        </div>
        <div class="col-20" ng-hide="isRS()"></div>
      </div>
    </div>
    <div class="list card" id="timers">
      <div class="color-gray item" ng-show="showTimer()">
        <div class="row" ng-hide="HideEnableButton()">
          <div class="col col-80">
            {{'enable_disable' | translate}}
          </div>

          <div class="col">
            <label class="toggle toggle-balanced" >
              <input type="checkbox" ng-model="enabled" ng-model-options="{ getterSetter: true }" ng-change="toggleEnable(roomComponent, enabled)" ng-true-value="1" ng-false-value="0"/>
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
        <div class="row" ng-hide="HideEnableButton()">
            <div class="col">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-80">
            Timer
          </div>
          <div align="right" class="col-20">
            <a ng-click="GoToDetail()">
              <i class="icon icon-timer ion-edit"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(1)}} week_days" ng-click="roomComponent.setSelectedDay(1)"><span>{{"week_1" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(2)}} week_days" ng-click="roomComponent.setSelectedDay(2)"><span>{{"week_2" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(3)}} week_days" ng-click="roomComponent.setSelectedDay(3)"><span>{{"week_3" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(4)}} week_days" ng-click="roomComponent.setSelectedDay(4)"><span>{{"week_4" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(5)}} week_days" ng-click="roomComponent.setSelectedDay(5)"><span>{{"week_5" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(6)}} week_days we" ng-click="roomComponent.setSelectedDay(6)"><span>{{"week_6" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{roomComponent.isSelected(0)}} week_days we" ng-click="roomComponent.setSelectedDay(0)"><span>{{"week_0" | translate | capitalize }}</span></button>
          </div>
        </div>    
        <ion-scroll direction="y" class="scrollList">
          <a id='Item_{{$index}}' ng-repeat="timer in getElencoTimer() | orderBy : 'minutesFromMidnight'">
            <div ng-show="timer.showTimer(roomComponent.selectedDay)" class="row item">
              <div class="col-50 col vertical-center therm_list">{{timer.formatTime()}}</div>
              <div class="col col-20 vertical-center therm_list">{{timer.type | capitalize}}</div>
              <div class="col col-20 vertical-center therm_list"><i class="icon icon-enable {{getTypeIcon(timer)}}"></i></div>
              <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
                <i class="icon icon-timer">
                  <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
                </i>
              </div>
              <div class="col col-10 vertical-center therm_list" ng-if="!(timer.onlyOnce==1)"></div>
            </div>
          </a>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
  </ion-view>