<ion-view ng-controller="ServiceThermTimerDetailController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" href="#/app/dashboard">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="SaveAndExit()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ "timer_title" | translate }}</p>
        </div>
        <div align="right" class="col-20" style="padding-right: 10px">
          <a class="bar-subheader-icon icon ion-plus" ng-href="#/app/service/edit_timer_therm/{{service}}/{{room}}/{{useMode}}/{{roomComponent.name}}/{{edited}}"></a>
        </div>
      </div>
    </div>
    <a id='Item_{{$index}}' ng-repeat="timer in FilterTimers(timer) | orderBy : 'minutesFromMidnight'" class="card item" ng-href="#/app/service/edit_timer_therm/{{service}}/{{room}}/{{useMode}}/{{roomComponent.name}}/{{edited}}/{{timer}}">
      <div class="row">
        <div class="col col-50 vertical-center therm_list">{{timer.formatTime()}}</div>
        <div class="col col-40 vertical-center therm_list">{{timer.soglia + ' ' + getMUTherm(roomComponent) }} </div>
        <div class="col col-10 vertical-center therm_list" ng-if="(timer.onlyOnce==1)">
          <i class="icon icon-timer">
            <img style="margin-top:5px; height:20px;" src="img/icon/repeatOne.png"></>
          </i>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <button class="button button-full {{isEnabled(timer,1)}} week_days">
            <span>{{"week_1" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,2)}} week_days" >
            <span>{{"week_2" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,3)}} week_days" >
            <span>{{"week_3" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,4)}} week_days" >
            <span>{{"week_4" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,5)}} week_days" >
            <span>{{"week_5" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,6)}} week_days" >
            <span>{{"week_6" | translate | capitalize }}</span></button>
          </div>
          <div class="col">
            <button class="button button-full {{isEnabled(timer,0)}} week_days" >
            <span>{{"week_0" | translate | capitalize }}</span></button>
          </div>
        </div>    
    </a>
  </ion-content>
  </ion-view>