<ion-view ng-controller="SensorDetailController" view-title="{{ navigationHeader }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" ng-click="dashboard()">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="serviceOpen(service)" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <p class="color-white">{{ 'sensor_title' | translate }}</p>
        </div>
      </div>
    </div>
    <div id="elements">
      <div id='Item_{{$index}}' class="card {{sensor.element.name == component ? 'push_notification' : ''}}" ng-repeat="sensor in sensorList">
        <div class="row">
          <div class="col color-gray">
              <div>
                {{sensor.element.showName == undefined ? "Sensore" : (sensor.element.showName == "" ? "Sensore" : sensor.element.showName)}}
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-60">&nbsp</div>
          <div class="col color-gray" style="text-align:right;">{{sensor.element.value}}</div>
          <div class="col color-gray">{{sensor.element.unit}}</div>
        </div>
      </div>
    </div>
  </ion-content>
  </ion-view>