<ion-view ng-controller="SensorController" view-title="{{ 'sensor_title' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-icon icon icon-offset" ng-click="dashboard()">
      <img height="28" src="img/icon/home.svg" />
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar-subheader-custom">
      <div class="row">
        <div class="col-20" ng-click="dashboard()" style="padding-left: 5px">
          <a class="bar-subheader-icon icon ion-chevron-left"></a>
        </div>
        <div align="center" class="col-60">
          <!--<p class="color-white">{{ "sensor_services" | translate }}</p>-->
        </div>
        <div class="col-20"></div>
      </div>
    </div>
    <div class="list" id="rooms">
      <a ng-repeat="room in rooms" class="color-gray item"
        ng-href="#/app/sensor/detail/{{room.name}}">
        <div class="row">
            <!-- <div class="col"><span>{{ room.showName  | capitalize }}</span></div> -->
            <div class="col"><span>{{ room.showName }}</span></div>
        </div>
      </a>
    </div>
  </ion-content>
  </ion-view>