<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, viewport-fit=cover" name="viewport">
    <!-- build:css dist_css/styles.css -->
    <link rel="stylesheet" href="css/ionic.app.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <!-- build:js dist_js/lib.js -->
    <script src="js/polyfill.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/jquery/js/jquery.js"></script>
    <script src="lib/translate/js/angular-translate.js"></script>
    <script src="lib/ngcordova/js/ng-cordova.js"></script>
    <script src="js/templates.js"></script>
    <!-- <script src="js/cryp/smaz.js"></script>
    <script src="js/cryp/SeicaCypher.js"></script> -->
    <!-- endbuild -->
    <script src="cordova.js"></script>
    <!-- build:js dist_js/app.min.js -->
    <script src="js/service.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <!-- endbuild -->
    <title></title>
  </head>
  <body ng-app="starter" ng-controller="UtilityController" class="platform-android platform-cordova platform-webview">
    <ion-nav-view></ion-nav-view>
    <div class="bar bar-footer bar-footer-network" id="network-status" ng-hide="isOnline">
      <div align="center" class="row">
        <div class="col-10"></div>
        <div class="col-80">
          <p>
            <i class="ion-alert-circled"></i>
            &nbsp;{{ 'network_offline' | translate }}
          </p>
        </div>
        <div class="col-10"></div>
      </div>
    </div>
  </body>
</html>
