/*

 * style.css
 * Defines the style of the application.
 *
 * Manuel Minopoli - INTAG S.r.l.

 */

* {

  text-decoration: none;
}

.active {

  font-weight: bold;
}

body,
ion-content {

  background-color: #f5f5f5 !important;
}

.bar-footer-network {

  background-color : #eeeeee  !important;
  border           : 0px      !important;
  bottom           : 0px      !important;
  color            : #757575  !important;
  font-size        : 15px     !important;
  height           : 65px     !important;
  padding-top      : 8px      !important;
  text-align       : center   !important;
  z-index          : 1000     !important;
}

.bar.bar-stable,
.button-positive {

  border           : 0px      !important;
  background-color : #089ad7  !important;
}

.bar.bar-stable .title,
.bar-stable .button.button-clear {

  border    : 0px     !important;
  color     : #ffffff !important;
  font-size : 20px    !important;
}

.bar-subheader-custom {

  color            : #ffffff  !important;
  background-color : #6ebb1f  !important;
  border-color     : #6ebb1f  !important;
  font-size        : 18px     !important;
  padding-top      : 10px     !important;
}

.bar-subheader-icon {

  color     : #ffffff !important;
  font-size : 23px    !important;
}

.card {

  /*box-shadow : none       !important;*/
  margin     : 11px 10px  !important;
}

.card-icon-left {

  margin-right : 3px !important;
  margin-top   : 0px !important;
}

.card-icon-right {

  margin-left : 3px !important;
  margin-top  : 0px !important;
}

.color-blue {

  color: #10b3f6 !important;
}

.color-gray {

  color: #707070 !important;
}

.color-red {

  color: #ff6a6a !important;
}

.color-white {

  color: #ffffff !important;
}

.color-green {
  color: #33FF33 !important;
}

.container-configuration {

  padding-top: 70px !important;
}

.container-room {

  padding-top: 44px !important;
}

.container-service {

  padding: 60px 0px 0px 0px !important;
}

.container-service-padding-no {

  padding: 0px !important;
}

.container-thermostatus-data {

  left     : 0px                !important;
  padding  : 0px 15px 0px 15px  !important;
  position : absolute           !important;
  top      : 10px               !important;
}

.icon-image {

  color     : #089ad7  !important;
  font-size : 20px     !important;
}

.icon-offset {

  padding-top: 3px !important;
}

.icon-timer {

  color     : black !important;
  font-size : 30px  !important;
}

input {

  color: #707070 !important;
}

.item-height {

  min-height: 160px !important;
}

.item-icon-container {

  padding-top: 25px !important;
}

.item-sub {

  border-color : white  !important;
  padding-top  : 20px   !important;
}

.list-configuration {

  background-color: #ffffff !important;
}

.list-custom {

  margin: 0px !important;
}

p {

  color: #707070 !important;
}

.tab-item {

  color     : #508917 !important;
  font-size : 16px    !important;
  max-width : none    !important;
}

.tabs-striped .tabs {

  border-width: 0px !important;
}

.tabs-sub-header {

  background-color : #6ebb1f          !important;
  border-color     : #aaaaaa          !important;
  border-width     : 0px 0px 4px 0px  !important;
}

.tabs-top.tabs-striped .tab-item.active {

  color        : #ffffff !important;
  border-color : #ffffff;
  border-width : 0px 0px 4px 0px !important;
  margin       : 0px;
}

.toggle input:checked + .track {

  border-color     : #6ebb1f !important;
  background-color : #6ebb1f !important;
}

.range {

  border: 0px !important;
}

.spinner svg {

  height : 50px;
  width  : 50px;
}

.vertical-center {

  display         : flex    !important;
  flex-direction  : column  !important;
  justify-content : center  !important;
  text-align      : center  !important;
}

/*AC_20170717*/
.therm_switch
{
  width:100%; 
  height:100%; 
  background: transparent; 
  border: none;
  color:#089ad7;
}

.therm_title_color,.consume_title_color
{
  color: #089ad7;
}

/*.therm_title_color2, .consume_title_color2
{
  color: #33FF33;
}*/

.button.up_down_btn
{
  color:white;
}

.button.clear_ok_btn, .button.up_down_btn, .button.week_days
{
  min-width:0px;
  min-height:0px;
  padding:5px;
  width:100%;
  line-height: initial;
  border-radius: 0;
}

.button.button.week_days {
    width: 32px;
    height: 32px;
    font-size: 8pt;
    border-radius: 50%;
    color:#707070;
    background-color:white;
    border:1px solid #707070;
    margin-left:auto;
    margin-right:auto;
}

.button.button.week_days.selected, .button.button.week_days.we.selected {
    
    background-color:#089ad7;
    color:white;
    border:none;
}

/*.button.button.week_days.we {
    background-color:#33FF33;
}*/

.button.up_down_btn.activated, .button.up_down_btn.active
{
  opacity: 0.8;
}

.therm_bg_color, .therm_bg_color.active, .therm_bg_color.activated, .edit_timer_btn.up_btn
{
  background: #089ad7;
}

.therm_bg_color2, .therm_bg_color2.active, .therm_bg_color2.activated, .edit_timer_btn.down_btn
{
  background: #6ebb1f;
}

.therm_header td
{
  vertical-align: middle;
}

.therm_icon
{
  text-align: center;
  font-size: 1.8rem;
  padding: 0px;
}

.therm_list
{
  font-size:1.5rem;
}

.therm_not_configured
{
  color: #CCCCCC;
  text-align: center;
  font-size: 2rem;
  padding: 1em 0;
}

.therm_manu_maintable td
{
  padding:5px;
}

.therm_manual_conf_time
{
  color: #089ad7;
  font-size: 30pt;
  text-align: right;
  vertical-align: middle;
  line-height: 50pt;
}

.therm_manual_conf_temperature
{
  color: #33FF33;
  font-size: 30pt;
  text-align: right;
  vertical-align: middle;
  line-height: 50pt;
}

.scrollList
{
  max-height: 175px;
  background: #EEEEEE;
  padding: 5px;
  border: 1px #EEEEEE solid;
}

.shutter_btn
{
  width:55px;
  height:55px;
  -webkit-appearance: none;
  appearance:none;
  border-radius: 0;
  padding:0px
}

/*AC_20170829*/
/*Disabilitazione toggle*/
.toggle input:disabled + .track .handle {
    background-color: lightgrey;
}

 .toggle input:disabled + .track {
    opacity: .4;
}
/*------*/
.condition.disabled
{
  opacity: .5;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    box-flex: 0 0 15%;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    box-flex: 0 0 15%;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}


.edit_timer_number{
  line-height: 4rem;
  font-size: 3rem;
  vertical-align: middle;
  text-align: center;
}

.edit_timer_btn {
  max-width: 32px;
  margin-left: auto;
  margin-right: auto;
}

.edit_timer_type{
  vertical-align: middle;
  text-align: center;
  font-size: 8pt;
  color:#707070;
  background-color:white;
  border:1px solid #707070;
  width:100%;
}
.edit_timer_type.selected{
    
    background-color:#089ad7;
    color:white;
    border:none;
}

.edit_timer_type.right_btn{
  border-radius:0 25% 25% 0;
}

.edit_timer_type.left_btn{
  border-radius:25% 0 0 25%;
}

.edit_timer_type.middle_btn{
  border-radius:0;
}

.btn_soglia
{
  height:100%;
  margin:0px;
  padding:0px 1px;
}
.btn_soglia .edit_timer_btn {
    max-width: initial;
}

.edit_temperature .item-radio, .edit_temperature .item-radio *
{
  background: none;
  border:none;
}

.edt_timer_save_btn
{
  background: none;
    border: none;
}

/*AC_20170925*/
.therm_title
{
  margin:auto;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.therm_title .int-inner-text , .therm_title span
{
  margin:auto;
  font-size:13px;
}


.spinner-container
{
  height:100%;
}

.shutter_btn .spinner svg{
  height: 80%;
  width: 80%;
}

.noscroll { pointer-events: none; }

.header-icon {

  color     : #ffffff !important;
  font-size : 23px    !important;
}

.connection-list .item-content {
    padding: 5px 16px;
}

.connection-list .item-content .edit-btn{
    text-align: center;
    font-size:25pt;
}

.room_item
{font-size: 16px;}

/*AC_20171128*/
.clone-btn {
  text-align: center;
  font-size: 1.8rem;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #089ad7;
}

/*AC_20171204*/
.clone-lbl {
  margin: auto;
  font-size: 17pt;
}
p.item-icon-font {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11pt;
}

.timer-btn {
  text-align: right;
  font-size: 1.8rem;
  padding: 0px;
  padding-right:5px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

/*AC_20180122*/
.shutter_btn .spinner svg
{
  margin-top:5px;
}

/*AC_20180123*/
.bar-subheader-custom {
  line-height: 35px;
}

.bar-subheader-icon {
  font-size: 35px !important;
}

.edt_timer_save_btn .icon:before, .edt_timer_save_btn.icon:before
{
  font-size: 35px !important;
}

.edt_timer_save_btn {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

.shutter .list-custom .item {
  padding-bottom: 5px;
}

.light-on-off
{
  border-radius: 10%;
  background: white;
  border: #e6e6e6 solid 1px;
  width: 61px;
  height: 47px;
  padding: 5px;
}

.light-on-off span
{
  font-size: 25px !important;
  line-height: 35px;
}

.info{
  text-align: center;
}
.info.text .info-title
{
  font-size: 1.5em;
  font-weight: bold;
}
.info.text .info-version
{
}

.info.text .info-text
{
  text-align:justify;
  white-space: pre-wrap;
}

.to-update
{
  color: red !important;
}

/*++++++++++++++UPDATE FW POPUP+++++++++++++++*/

.updFWPopup .popup
{
  width: 90%;
  max-width: 400px;
}

.updFWPopup .popup-title {
  font-size: 1.5em;
}

.updFWPopup .item-checkbox .item-content {
  white-space: normal;
}

/*AC_20180219*/
.only-once .item{
  background: transparent;
  border:none;
}

/*AC_20180313*/
.shutter_btn[disabled]
{
  opacity:0.4;
}

/*AC_20180320*/
.icon-enable
{
  font-size : 30px  !important;
}

.edit_timer_type.btn_tab{
  border-radius:0;
}

/*AC_20180514*/
.push_notification {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.pushPopup .popup
{
  width: 90%;
  max-width: 450px;
}

.pushPopup .popup-title {
  font-size: 1.5em;
}